@use "../../styles/partials/reset.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.start {
  padding: 1rem;

  &__top {
    display: flex;
    flex-direction: column;
    height: 25rem;
    padding-top: 11rem;
  }

  &__image {
    align-self: center;
  }

  &__icon {
    width: 7rem;
  }

  &__logo {
    align-self: center;
    margin-top: 0.5rem;
    width: 13rem;
  }
  &__slogan {
    margin-top: 0.75rem;
    align-self: center;
    font-size: 0.75rem;
    color: #040328;
    font-family: "Chakra Petch";
  }

  &__bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__signup {
    margin-top: 0.75rem;
    font-size: 0.75rem;
    display: flex;
    align-self: center;
    font-family: "Chakra Petch";
  }

  &__link {
    padding-left: 0.1875rem;
    color: #43628a;
    font-weight: 400;
    font-family: "Chakra Petch";
  }
}

.login {
  display: flex;
  flex-direction: column;

  &__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 21rem;
    margin: 0 auto;
  }

  &__icon {
    position: absolute;
    left: 1.1875rem;
    top: 2px;
  }

  &__input {
    border: none;
    border-bottom: 2px solid #d1d1d4;
    background: none;
    padding: 0.5rem;
    padding-left: 1.875rem;
    width: 88%;
    transition: 0.2s;
    align-self: center;
    margin-bottom: 0.75rem;

    &:active,
    &:focus,
    &:hover {
      outline: none;
      border-bottom-color: $pt-blue;
    }
  }

  &__button {
    background: #fff;
    font-size: 0.875rem;
    padding: 0.3rem 0.75rem;
    border-radius: 1rem;
    border: 1px solid #d4d3e8;
    display: flex;
    align-self: center;
    width: 19rem;
    box-shadow: 0px 1px 1px $pt-lilac;
    transition: 0.2s;
    align-items: center;
    margin-top: 0.25rem;

    &:active,
    &:focus,
    &:hover {
      border-width: 2px;
      border-color: $pt-blue;
      outline: none;
    }
  }

  &__text {
    font-size: 0.8125rem;
    color: #43628a;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 0.25rem;
    font-family: "Chakra Petch";
  }

  &__arrow {
    margin-left: auto;
  }

  &__error {
    font-size: 0.75rem;
    color: red;
    font-weight: 500;

    letter-spacing: 0.5px;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-family: "Chakra Petch";
  }

  &__success {
    font-size: 0.75rem;
    color: forestgreen;
    font-weight: 500;

    letter-spacing: 0.5px;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-family: "Chakra Petch";
  }
}
