@use "../../styles/partials/reset.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.expenses {
  padding: 1rem;
  background-color: $background-cream;

  &__wrapper {
    border: 1px solid $border;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  &__title {
    font-family: "Chakra Petch";
    font-size: 1.5rem;
    padding: 1rem;
  }
}
