@font-face {
  font-family: "Chakra Petch";
  src: url("../../assets/fonts/ChakraPetch/ChakraPetch-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("../../assets/fonts/ChakraPetch/ChakraPetch-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("../../assets/fonts/ChakraPetch/ChakraPetch-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("../../assets/fonts/ChakraPetch/ChakraPetch-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Supreme";
  src: url("../../assets/fonts/Supreme/Supreme-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Supreme";
  src: url("../../assets/fonts//Supreme/Supreme-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Supreme";
  src: url("../../assets/fonts//Supreme/Supreme-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Supreme";
  src: url("../../assets/fonts//Supreme/Supreme-Bold.otf");
  font-weight: 600;
}

// @font-face {
//   font-family: "Supreme";
//   src: url("../../assets/fonts/Supreme/Supreme-Light.otf");
//   font-weight: 300;
// }

// @font-face {
//   font-family: "Supreme";
//   src: url("../../assets/fonts/Supreme/Supreme-Regular.otf");
//   font-weight: 400;
// }

// @font-face {
//   font-family: "Supreme";
//   src: url("../../assets/fonts/Supreme/Supreme-Medium.otf");
//   font-weight: 500;
// }

// @font-face {
//   font-family: "Supreme";
//   src: url("../../assets/fonts/Supreme/Supreme-SemiBold.otf");
//   font-weight: 600;
// }

// h1 {
//   font-family: "Chakra Petch", Helvetica, sans-serif;
// }

* {
  font-family: "Supreme", Helevetica, sans-serif;
}
