@use "../../styles/partials/reset.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.edit {
  padding: 1rem;
  background-color: $background-cream;

  &__wrapper {
    border: 1px solid $border;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  &__top {
    display: flex;
    border-bottom: 1px dashed $border;
    padding: 1rem;
    padding-bottom: 0.5rem;
  }

  &__back-link {
    height: 24px;
    align-self: center;
  }

  &__title {
    font-family: "Chakra Petch";
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }

  &__form {
    padding: 1rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
  }

  &__one {
    display: flex;
    justify-content: space-between;
  }

  &__two {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    border: none;
    border-radius: 1rem;
    border: 2px solid #d1d1d4;
    background: none;
    padding: 8px;
    transition: 0.2s;
    align-self: center;
    margin-bottom: 0.75rem;

    &:active,
    &:focus,
    &:hover {
      outline: none;
      border-bottom-color: $pt-blue;
    }
    &--total {
      width: 7rem;
    }

    &--description {
      width: 100%;
    }

    &--selection {
      padding-right: 0.5rem;
      width: 8.5rem;
    }

    &--group {
      width: 19rem;
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__checkbox {
    display: flex;
    width: 49%;
  }
  &__group {
    display: flex;
    flex-direction: column;
  }

  &__single {
    padding-left: 0.5rem;
    font-size: 14px;
  }

  &__label {
    padding-left: 0.25rem;
  }

  &__button {
    background: $pt-blue;
    color: white;
    font-size: 14px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #d4d3e8;
    display: flex;
    width: 8rem;
    box-shadow: 0px 1px 1px $pt-lilac;
    transition: 0.2s;
    align-items: center;
    margin: 0.25rem auto;
    margin-right: 0;
  }

  &__button-text {
    font-size: 13px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 0.45rem;
  }

  &__arrow {
    margin-left: auto;
    width: 1.25rem;
  }
  &__error {
    text-align: end;
    font-size: 0.75rem;
    font-weight: 500;
    color: red;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    transform: translateY(-0.25rem);
    letter-spacing: 0.5px;
    font-family: "Chakra Petch";
  }
  &__success {
    font-size: 1rem;
    font-weight: 500;
    color: forestgreen;
    padding-left: 0.5rem;
    transform: translateY(-0.25rem);
    letter-spacing: 0.5px;
    font-family: "Chakra Petch";
  }
}
