@use "../../styles/partials/reset.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.pocket {
  &__link {
    text-decoration: none;
    color: black;
  }
  &__card {
    border-radius: 0.2rem;
    background-color: rgba(250, 250, 255, 0.75);
    box-shadow: rgba(69, 121, 194, 0.5) 1px 1px 3px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset,
      0px 2px 2px rgba(69, 121, 194, 0.5);
    width: 20rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    display: flex;
    padding: 1rem;
  }
  &__image {
    width: 4rem;
    object-fit: contain;
  }
  &__text {
    width: 100%;
    margin-left: 1rem;
  }
  &__name {
    font-size: 1rem;
    font-weight: 600;
    width: 5rem;
    padding-bottom: 0.25rem;
    text-decoration: underline;
  }
  &__label {
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
  }
  &__notes {
    font-size: 12px;
  }
}
