@use "../../styles/partials/reset.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.pockets {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 500;
    font-family: "Chakra Petch";
  }

  &__add {
    margin-top: 1.5rem;
  }
  &__top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }
  &__button {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    background: $pt-blue;
    color: white;
    border: 0;
    border-bottom: 2px solid $border;
    outline: 0;
    border-radius: 0.5rem;
    border: 1px solid #d4d3e8;
    box-shadow: 0px 1px 1px #5c5696;
    font-family: "Chakra Petch";
    font-weight: 500;

    &--active {
      border: 2px solid rgba(69, 121, 194);
      background: white;
      border-bottom: none;
      color: black;
    }
  }
}
