@use "../../styles/partials/reset.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  padding: 0.4rem 2rem 0.5rem 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #d4d3e8;
    box-shadow: 0px 1px 1px $pt-lilac;
    background-color: #f5f8fd;
    padding-top: 0.25rem;

    &--pocket {
      width: 3.5rem;
    }
    &--nav {
      width: 12rem;
      justify-content: space-around;
    }
  }

  &__icon {
    width: 2.25rem;

    object-fit: contain;

    &--active {
      background-color: rgba(69, 121, 194, 0.5);
      border-radius: 0.625rem;
    }
  }
}
