@use "../../styles/partials/reset.scss";
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile {
  border-bottom: 1px dashed $border;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__name {
    font-size: 1.5rem;
    color: #83a1cd;
  }
  &__totals {
    font-size: 0.875rem;
    text-align: end;
  }

  &__trigger-button {
    border: none;
    background-color: white;
  }

  &__down-icon {
    transition: transform 0.25s ease;
  }

  &__down-icon.rotated {
    transform: rotate(-180deg);
  }

  &__container {
    margin: 1rem;
  }

  &__tabs {
    width: 100%;
  }

  &__tab {
    width: 33%;
    font-size: 0.875rem;
    padding: 0.25rem 1rem;
    cursor: pointer;
    opacity: 0.6;
    background: white;
    border: 0;
    border-bottom: 2px solid $border;
    outline: 0;

    &--active {
      border: 2px solid rgba(69, 121, 194);
      border-bottom: none;
      opacity: 1;
      border-radius: 0.25rem;
    }
  }
  &__contents {
    border: 2px solid rgba(69, 121, 194);
    border-radius: 0.5rem;
    border-top: none;
    padding: 0.5rem;
  }

  &__content {
    display: none;

    &--active {
      display: block;
    }
  }

  &__label {
    font-size: 1rem;
    text-align: center;
    margin: 0.25rem 0rem 0.5rem 0rem;
  }
}
